#narrative_container {
  padding: 0px 20px 50px 90px;
  width: 456px;
  float:left;
  z-index: 1;
  line-height: 1.4em;

  p {
    font-family: HelveticaNeue-Light,sans-serif;
    color: #333;
  }
}

.event {
  padding:0;
  margin:0;
  margin-bottom: 50px;
}


.event_1 {
  margin-left: 30px;
}