@hovercolor: red;


html, body {
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container {
  background: black;
}

#index_container {
  background: #eee;
}

#container:before {
    content: " "; /* 1 */
  display: table; /* 2 */
}
#container:after {
  content: " "; /* 1 */
  display: table; /* 2 */

  clear: both;
}

.hover {
  background-color: @hovercolor
}

@import "mapContainer.less"; 
@import "narrativeContainer.less"; 
@import "timelineContainer.less"; 
