@hovercolor: red;


html, body {
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container {
  
}

#timeline_container {
  position: fixed;
  top: 15px;
  left: 14px;
  width: 150px;
  background: yellow;
  overflow: hidden;
}

#narrative_container {
  width: 50%;
  float: left;
  background: red;
}

#map_container {
  width: 50%;
  float: right;
  background: green;
}

.hover {
  background-color: @hovercolor
}