html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
#container {
  background: black;
}
#index_container {
  background: #eee;
}
#container:before {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
#container:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

  clear: both;
}
.hover {
  background-color: #ff0000;
}
#map_container {
  width: 512px;
  height: 768px;
  margin-left: 512px;
  background: #ddd;
}
#narrative_container {
  padding: 0px 20px 50px 80px;
  width: 412px;
  float: left;
  background: #eee;
  z-index: 1;
}
#timeline_container {
  position: fixed;
  top: 15px;
  left: 10px;
  width: 60px;
  height: 100%;
  background: #aaa;
  overflow: hidden;
  z-index: 100;
}
